extends ../layouts/default

block header	
	div(role="navigation").navbar.navbar-default
		.container: .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') 
					img#logo(src="/images/braintobrain_logo_on_w.svg")
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label


block content
	section(id="main_hero")
			.container: .row: .col-xs-8.col-lg-6.col-lg-offset-1.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-1
				h1#mainwrap
					|Привет, 
					br
					|я — Владислав Сорокин 
					br
					|и это сайт моего агентства
				h2.words 
					|Я создаю технологии для коллективного&nbsp;интеллекта, 
					br
					|веду
					.rw-words.rw-words-1
						span 
							a(href="http://media.braintobrain.ru")
								|форсайт-сессии, 
						span 
							a(href="http://beta.braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")
								|проекты по&nbsp;дизайн-мышлению, 
						span 
							a(href="http://beta.braintobrain.ru/blog/post/fiziki-protiv-programmistov")
								|воркшопы Lego Serious Play.
					br
					//- span Вам нужны мои услуги, если у вас есть:
					//- ul#mainlist
					//- 	li.list идея, но вы сомневаетесь,
					//- 	li.list команда, но она разобщена, 
					//- 	li.list дело, но оно не приносит радости,
					//- 	li.list стратегия, но она никуда не ведет.
					br
