extends ../layouts/default

block header	
	div(role="navigation").navbar.navbar-default
		.container: .row: .col-xs-12.col-sm-11.col-sm-offset-1.col-md-10.col-md-offset-1
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') 
					img#logo(src="/images/braintobrain_logo_on_w.svg")
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label


block content
	section(id="main_hero")
			.container: .row: .col-xs-12.col-lg-6.col-lg-offset-1.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-1
				h1#mainwrap
					|Привет, я&nbsp;—&nbsp;Владислав
					br
					|и это сайт моего агентства
				h2#words 
					|Я помогаю предпринимателям и&nbsp;фондам проводить исследования рынка, создавать горизонтальные команды и&nbsp;уникальные продукты
	section(id="tools")
		.container
			h1
				|Для решения задач я&nbsp;использую
			.row
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://braintobrain.ru/blog/post/golf-dlya-molodyh-i-kreativnyh")
								img#creative(src="/images/idea.svg")
						a(href="http://braintobrain.ru/blog/post/golf-dlya-molodyh-i-kreativnyh")
							h3.tool
								|Креативные сессии
						h4.tool_description
							|Я придумаю вместе с&nbsp;вами маркетинговую концепцию, идею бренда, название или слоган, основы контент-маркетинга — все, что выделяет вас из&nbsp;информационного шума. Выведу из&nbsp;ментального ступора, подарю вдохновение и&nbsp;энергию творчества.
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")
								img#design(src="/images/design_process.svg")
						a(href="http://braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")
							h3.tool
								|Дизайн-мышление
						h4.tool_description
							|Лучшая гибкая методология из&nbsp;Стэнфорда для не-IT проектов, в&nbsp;основе которой — эмпатия к&nbsp;пользователю, быстрое прототипирование и&nbsp;тест идей. Продукт создает смешанная команда профессионалов с&nbsp;открытым и&nbsp;гибким сознанием. 
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://media.braintobrain.ru")
								img#future(src="/images/future.svg")
						a(href="http://media.braintobrain.ru")
							h3.tool
								|Стратегические сессии
						h4.tool_description
							|Я применяю технологии Rapid Foresight, учу работать с&nbsp;трендами так, чтобы ваша команда умела видеть будущее, прогнозировать изменения и&nbsp;уже сейчас использовать возможности из&nbsp;послезавтра. 
	img#birds(src="/images/birds2.svg")
	section(id="clients_logo")
		.container
			h1
				|Клиенты
			img.clients_logo(src="/images/fa_logo.png")
			img.clients_logo(src="/images/ya_data.svg")
			img.clients_logo(src="/images/SKOLKOVO_Logo_en.jpg")
			img.clients_logo(src="/images/nikola-logo.png")
			img.clients_logo(src="/images/fflot.png")
			img.clients_logo(src="/images/logoGIVIblueX2.png")
			img.clients_logo(src="/images/logo-volnoe-delo.png")
			img.clients_logo#coffeemania(src="/images/coffeemania.jpg")
			img.clients_logo(src="/images/pleh.gif")
			img.clients_logo(src="/images/citygolf.png")

					
