extends ../layouts/default

block head
	meta(property="og:type",content="website")
	meta(property="og:url", content="http://braintobrain.ru")
	meta(property="og:title", content="Сила коллективного интеллекта")
	meta(property="og:description", content="Дизайн-мышление, стратегические и креативные сессии — мы помогаем командам быть успешными")
	meta(property="og:image", content="http://braintobrain.ru/images/fb_og.png")

block header	
	div(role="navigation").navbar.navbar-default
		.container: .row: .col-xs-12.col-sm-11.col-sm-offset-1.col-md-10.col-md-offset-1
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') 
					img#logo(src="/images/braintobrain_logo_on_w.svg")
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					each link in navLinks
						li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label


block content
	section(id="main_hero")
			.container: .row: .col-xs-12.col-lg-6.col-lg-offset-1.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-1
				h1#mainwrap
					|Привет, я&nbsp;—&nbsp;Владислав
					br
					|и это сайт моего агентства
				h2#words 
					|Я помогаю предпринимателям и&nbsp;руководителям проводить исследования рынка, создавать горизонтальные команды и&nbsp;уникальные продукты
	section(id="tools")
		.container
			h1
				|Я принесу пользу, если вам или вашему бизнесу очень нужны:
			.row
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://braintobrain.ru/blog/post/golf-dlya-molodyh-i-kreativnyh")
								img#creative(src="/images/idea.svg")
						a(href="http://braintobrain.ru/blog/post/golf-dlya-molodyh-i-kreativnyh")
							h3.tool
								|Уникальность
						h4.tool_description
							|Так бывает, что маркетинговая коцепция не&nbsp;очень хорошо продает, идея бренда не&nbsp;вызывает восторга или доверия, а&nbsp;у&nbsp;продукта нет и&nbsp;10&nbsp;причин его купить — в&nbsp;информационном шуме вам тяжело выделиться. Я&nbsp;спроектирую под ваши задачи #[a(href="http://braintobrain.ru/blog/post/golf-dlya-molodyh-i-kreativnyh")креативную сессию], или #[a(href="http://braintobrain.ru/blog/post/kreativnyj-konvejer")тренинг по&nbsp;креативности] для&nbsp;вашей команды.
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")
								img#design(src="/images/design_process.svg")
						a(href="http://braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")
							h3.tool
								|Новое направление
						h4.tool_description
							|Часто основной бизнес работает, как часы, но&nbsp;перестает вдохновлять. Возможно, вы&nbsp;чувствуете новые возможности или&nbsp;даже видите новые рынки, но&nbsp;не&nbsp;знаете, как на&nbsp;них выйти. Советую поэкспериментировать с&nbsp;помощью #[a(href="http://braintobrain.ru/blog/post/idealnoe-vysshee-obrazovanie")дизайн-мышления]. Просто попробуйте его на&nbsp;однодневном воркшопе. 
				.col-lg-4.col-md-4.col-sm-4
					.tools
						.img_wrap
							a(href="http://media.braintobrain.ru")
								img#future(src="/images/future.svg")
						a(href="http://media.braintobrain.ru")
							h3.tool
								|Новое видение
						h4.tool_description
							|Если годовой план через месяц-два летит в&nbsp;корзину, а&nbsp;о&nbsp;стратегии на&nbsp;больший срок некогда задуматься — значит рынок меняется так быстро, что вы&nbsp;не&nbsp;успеваете и&nbsp;реагируете слишком поздно. Проведите форсайт-сессию. На&nbsp;ней вы&nbsp;создадите карту будущего для компании, определите сценарии развития и&nbsp;отберете людей в&nbsp;команду супергероев.
	section(id="clients_logo")
		.container
			h1
				|Клиенты
			img.clients_logo(src="/images/bbdo_group.gif")
			img.clients_logo(src="/images/ya_data.svg")
			img.clients_logo(src="/images/SKOLKOVO_Logo_en.jpg")
			img.clients_logo(src="/images/nikola-logo.png")
			img.clients_logo(src="/images/fflot.png")
			img.clients_logo(src="/images/logoGIVIblueX2.png")
			img.clients_logo(src="/images/logo_net.svg")
			img.clients_logo#coffeemania(src="/images/coffeemania.jpg")
			img.clients_logo(src="/images/pleh.gif")
			img.clients_logo(src="/images/fa_logo.png")

					
