extends ../layouts/default

block header	


block content
	section(id="main_hero")
			div(role="navigation").navbar.navbar-default
				.container: .row: .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') 
							img#logo(src="/images/braintobrain_logo_on_w.svg")
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
			.container: .row: .col-xs-8.col-lg-6.col-lg-offset-1.col-sm-7.col-sm-offset-1.col-md-7.col-md-offset-1
				h1#mainwrap.rw-wrapper
					span#hey Привет, меня зовут Владислав Сорокин  
					span#site и&nbsp;это сайт моего агентства. 
					br
					div.words 
						span Я веду
						.rw-words.rw-words-1
							span форсайт-сессии, 
							span проекты по&nbsp;дизайн-мышлению, 
							span воркшопы Lego Serious Play.
					br
					span Они помогают вам совершать открытия и&nbsp;добиваться ясного мышления.
					br
					br
					span brain<span style="color:#ff443a;">»</span>to<span style="color:#ff443a;">»</span>brain — интеллектуальный катализатор, он ускоряет бренды и создает кросс-дисциплинарные команды, способные  бизнес-вызовов XXI века. 
