.herotext {
    text-align: left;
    top: -7rem;
    position: relative;
    font-family: "GothamPro";
}

#hero_head {
    margin: 0;
    position: relative;
    /* left: 46rem; */
    color: #ff443a;
    font-size: 4rem;
    font-weight: 200;
    // text-shadow: 13px 13px 6px rgba(0, 0, 0, 0.47);
}

#hero_lead {
  color: #8b8a8c;
  position: relative;
  margin-top: 1rem;
  font-size: 1.8rem;
  // text-shadow: 13px 13px 6px rgba(0, 0, 0, 0.47);
}

.blog-date {
    font-family: "GothamPro";
    font-style: italic;
    font-size: 1.6rem;
    color: lightgray;
    float: right;
}

.blog-heading, .blog-heading > a {

      color: rgba(90, 90, 90, 0.67)!important;
      font-size: 2.4rem;
      line-height: 1.3;
      /* baseline-shift: sub; */
      font-weight: 500;
      font-family: "GothamProNarrow";
}

h2.blog-lead, h2.blog-lead>p {
    margin: 1rem 0;
    font-size: 1.6rem;
    color: #909090;
}

.blog-tags {
  text-decoration: none;
  color: lightgray;
  font-family: Helvetica;
  font-size: 1.6rem;
}

.imagewrap {
  height:300px;
}

.videoWrapper {
    position: relative;
    height: 80%;
    padding: 0;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.videoWrapper video {
  position: relative;
  left: -25px;
  height: 353px;
  width: 106%;
  top: 64px;
}
