.videoWrapper {
    padding-top: 0!important;
}

.videoWrapper>iframe {
    height: 100%;
    top: -30px;
}

figure {
    margin: 0;
    overflow: hidden;
    height: 300px;
}

.herotext {
    text-align: left;
    top: -5.7rem;
    position: relative;
    font-family: "GothamPro";
}

#hero_head {
    margin: 0;
    position: relative;
    /* left: 46rem; */
    color: white;
    font-size: 4rem;
    font-weight: 200;
    // text-shadow: 13px 13px 6px rgba(0, 0, 0, 0.47);
}

#hero_lead {
  color: #8b8a8c;
  position: relative;
  margin-top: 1rem;
  font-size: 1.8rem;
  // text-shadow: 13px 13px 6px rgba(0, 0, 0, 0.47);

}
