#header {
	margin:0;
}

#main_hero {
  background: url('../images/main_personal.jpg');
  background-size: cover;
  height:100vh;
  background-position-y: 50%;
}

#main_hero > .navbar {
  padding-top: 30px;
}

#site {
	display: block;
}

#mainwrap {
    font-size: 2rem;
    position: relative;
    top: 10rem;
    font-family: "GothamPro";
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
        font-weight: 400;
}
.words {
margin-top: 3rem;
}

.rw-words{
	display: inline;
  font-weight: inherit;
	text-indent: 1rem;
}
.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
	color: #FF443A;
  position: absolute;
	opacity: 0;
	overflow: hidden;
}

.rw-words-1 span {
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2)  {
  -webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s;
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  33% { opacity: 1; -webkit-transform: translateY(0px); }
  38% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  33% { opacity: 1; -ms-transform: translateY(0px); }
  38% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  33% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  38% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
  }

@media (max-width:991px){

	#main_hero {
    background-position-y: 0%;
    background-position-x: 60%;
	}

	#mainwrap {
    font-size: 2rem;
    margin-top: 13rem;
}
	#site {
		display: inline;
		margin-bottom: 1rem;
	}
}

@media (max-width: 480px) {
	#mainwrap {
    font-size: 1.6rem;
    margin-top: 20rem;
    margin-bottom: 93rem;
	}
	#main_hero {
		position: fixed;
		overflow: scroll;
		padding-top: 1rem;
		}
	.navbar-header {
		position: fixed;
		z-index: 999;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    margin: 6rem -15px;
    padding: 0 15px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "GothamPro";
    font-weight: 500;
    background: rgba(0,0,0,0.3);
    z-index: 998;
    position: fixed;
    width: 100%;
}

	.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.6);
}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-toggle {
    background-color: transparent;
    border: 2px solid black;
		border-color:black!important;
}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
	.nav>li {
    position: relative;
    display: block;
    text-align: right;
}
	#site {
		display: inline;
}

	.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
		color: #FF443A;
	  position: relative;
		opacity: 1;
		overflow: auto;
}

	.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
		-webkit-animation: initial;
		-ms-animation: initial;
		animation: initial;
}
}
