#header {
	margin:0;
}

#main_hero {
  background: url('../images/main_personal.jpg');
  background-size: cover;
  height:100vh;
  background-position-y: 50%;
}

// #main_hero > .navbar {
//   padding-top: 10px;
// }

#site {
	display: block;
}

#mainwrap {
    font-size: 2rem;
    position: relative;
    top: 13rem;
    font-family: "GothamPro";
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
        font-weight: 400;
}
.words {
margin-top: 3rem;
}

.rw-words{
	display: inline;
  font-weight: inherit;
	text-indent: 1rem;
}
.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
	color: #FF443A;
  position: absolute;
	opacity: 0;
	overflow: hidden;
}

.rw-words-1 span {
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2)  {
  -webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s;
}

.col-lg-hidden, .col-md-hidden {
	display:none;
}

#mainlist {
	margin: 1rem 0 0 0;
	padding: 0;
  list-style: none;
}

#mainlist li::before {
	content:url('../images/arrows_m.svg');
	margin-right: 1rem;
	line-height: 4rem;
}


@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  33% { opacity: 1; -webkit-transform: translateY(0px); }
  38% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  33% { opacity: 1; -ms-transform: translateY(0px); }
  38% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  33% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  38% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
  }


@media (max-width:991px){

	#main_hero {
    background-position-y: 0%;
    background-position-x: 60%;
	}

	#mainwrap {
    font-size: 2rem;
    margin-top: 13rem;
}
	#site {
		display: inline;
		margin-bottom: 1rem;
	}
	.col-lg-hidden, .col-md-hidden {
		display:block;
	}
	.col-sm-1 {
		    border-right: solid 1px #dcdcdc;
}
}

@media (max-width: 480px) {

	#main_hero {
	  background: url('../images/main_personal_mob.png');
	  background-size: cover;
	  height:100vh;
	}

	#mainwrap {
    font-size: 1.6rem;
    margin-top: 20rem;
    margin-bottom: 93rem;
	}
	#main_hero {
		position: fixed;
		overflow: scroll;
		padding-top: 1rem;
		}

	#site {
		display: inline;
}

	.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
		color: #FF443A;
	  position: relative;
		opacity: 1;
		overflow: auto;
}

	.rw-words-1 span, .rw-words-1 span:nth-child(2), .rw-words-1 span:nth-child(3) {
		-webkit-animation: initial;
		-ms-animation: initial;
		animation: initial;
}
}
