// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;

@font-face {
	font-family: 'Charter';
       src: url('../fonts/Charter/CharterC.otf') format('opentype');
}

@font-face {
	font-family: 'CharterBlackItalic';
       src: url('../fonts/Charter/CharterBlackC-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'CharterBoldItalic';
       src: url('../fonts/Charter/CharterC-BoldItalic.otf') format('opentype');
}





// COLORS

@red: #FF443A;
