html { font-size: 62.5%; }


body {
  padding:0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}

html, body {
    /*max-width: 100%;*/
    overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

.row {
	border-bottom: solid 1px #dcdcdc;
	width: 100%;
	height: auto;
	margin-left: 0;
	margin-right: 0;
}

.container {
    width: 100%;
}

/*EXCEL LIKE GRID */


.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    padding-right: 0;
    padding-left: 0;
    border-right: solid 1px #dcdcdc;

}

.col-lg-1.c1 {
  flex-basis: 2.5%;
  max-width: 2.5%;
  display: flex;
}
.col-lg-1.c4, .col-lg-1.c5, .col-lg-1.c6, .col-lg-1.c7 {
  flex-basis: 15%;
  max-width: 15%;
}
.col-lg-4.c456 {
flex-basis: 45%;
max-width: 45%;
}html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.4rem;
	font-weight: 500;
	font-family: Helvetica, sans-serif;
}

body,
html {
	/*max-width: 100%;*/
	overflow-x: hidden;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 100%;
}
/*EXCEL LIKE GRID */
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
	padding-right: 0;
	padding-left: 0;
	border-right: solid 1px #dcdcdc;
}

.col-lg-1.c1 {
	flex-basis: 2.5%;
	max-width: 2.5%;
	display: flex;
}

.col-lg-1.c4,
.col-lg-1.c5,
.col-lg-1.c6,
.col-lg-1.c7 {
	flex-basis: 15%;
	max-width: 15%;
}

.col-lg-4.c456 {
	flex-basis: 45%;
	max-width: 45%;
}

.col-lg-1.c11 {
	flex-basis: 4.1%;
	max-width: 4.1%;
}

.row.abc > div {
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
}

.cell,
.cell-A,
.cell-num,
.empty_cell {
	box-sizing: border-box;
}

.cell-A,
.cell-num {
	width: 100%;
	text-align: center;
	color: #626269;
	overflow: hidden;
	display: flex;
	text-align: center;
	justify-content: center;
}

.cell-A {
	/*padding: 0.5rem;*/
	background: -webkit-linear-gradient(#e7e7e7, #dfdfdf);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#e7e7e7, #dfdfdf);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e7e7e7, #dfdfdf);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#e7e7e7, #dfdfdf);
	/* Standard syntax */
}

.cell-num {
	background: #DADADA;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #969696;
	border-right: 1px solid #969696;
}

.empty_cell {
	height: 31px;
}

.cell {
	padding: 1rem;
	font-family: Helvetica, sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 300;
	color: grey;
	height: 100%;
}
/*.cell_heading {
  padding: 1rem;
}*/
.celllogo {
	padding: 1rem;
}

.cell:not(.nohover):hover,
.empty_cell:hover,
.excel_cell_empty {
	border: solid 2px #1958CA;
	padding: 0.8rem;
}

.cell.client:not(.nohover):hover,
.excel_client_like {
	padding: 0.42rem !important;
	border: solid 2px #1958CA;
}
/*+++++++++++++++++++++++++*****************+++++++++++++++++++*/
/*ACCORDION*/
h3,
h4 {
	margin: 0;
}

h3 a,
h4 a {
	display: block;
}

h3 a::before,
h4 a::before {
	display: inline-block;
	margin-right: 20px;
	content: url('../images/arrows.svg');
	color: #ff443a;
}

h3 a.active::before,
h4 a.active::before {
	content: url('../images/arrows.svg');
	transform: rotate(90deg);
	transform-origin: center;
}

.flexbox-info-container {
	display: none;
}

.flexbox-info-container.active {
	display: flex;
  flex-direction: column;
}
/*+++++++++++++++++++++++++*****************+++++++++++++++++++*/
/*ELEMENTS*/
#tri {
	height: 15px;
}

#box-tri {
	justify-content: flex-end;
	border-bottom: 1px solid #969696;
}

#logo {
	width: 100%;
}

.heading {
	color: lightslategray;
	font-size: 3rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-left: -5rem;
}

.heading > a {
	color: inherit;
	text-decoration: none;
}

.heading > a:focus,
.heading > a:hover {
	color: #ff443a;
	text-decoration: none;
}

.cell > a > h4,
.cell > h4 {
	color: #ff443a;
	font-weight: 500;
  line-height: 1.5;
}

.cell.client {
	height: 31px;
	padding: 0.6rem;
}

.container_excel {
	margin: 0 auto;
	width: 1440px;
}

.c3 {
	display: flex;
}

.nomob {
	display: flex;
}

.mob {
	display: none;
}

.cli * .client:first-child,
.contacts * .client:first-child {
	color: black;
}
@media (max-width:1020px) {
	.c3 {
		display: none;
	}

	.heading {
		margin-left: 0;
		padding-left: 1rem;
	}
}
@media (max-width:991px) {
	.col-lg-4.c456 {
		flex-basis: 44.9%;
		max-width: 44.9%;
	}
}
@media (max-width:801px) {
	body,
	html {
		/* max-width: 100%; */
		overflow-y: visible;
	}

	.c10,
	.c11,
	.c8,
	.c9 {
		display: none;
	}

	.col-lg-1.c1 {
		flex-basis: 2%;
		max-width: 2%;
	}

	.col-lg-4.c456 {
		flex-basis: 38.65%;
		max-width: 38.65%;
	}

	.col-lg-1.c4,
	.col-lg-1.c5,
	.col-lg-1.c6,
	.col-lg-1.c7 {
		flex-basis: 12.9%;
		max-width: 12.9%;
	}

	.heading {
		font-size: 2.7rem;
	}
}
@media (min-width:480px) and (max-width:759px) {
	.col-lg-4.c456 {
		flex-basis: 38.8%;
		max-width: 38.8%;
	}
}
@media (max-width:550px) {
	body {
		background-color: lightgray;
	}

  .cell.client:not(.nohover):hover, .excel_client_like {
    padding: 3rem 0!important;
}

	.celllogo {
		padding: 3rem 0 0 4rem;
	}

	#logo {
		width: 70%;
	}

	.container_excel {
		width: 100%;
	}

	.nomob {
		display: none;
	}

	.flexbox-info-container.active {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.col-lg-1.c11,
	.col-lg-1.c4,
	.col-lg-1.c5,
	.col-lg-1.c6,
	.col-lg-1.c7,
	.col-lg-4.c456 {
		flex-basis: 100%;
		max-width: 100%;
		border-right: 0;
	}

	.col-lg-1.c1,
	.col-xs-hidden {
		display: none;
	}

	h3 a::before,
	h4 a::before {
		display: inline-block;
		margin-right: 10px;
		content: url('../images/arrows_m.svg');
	}

	h3 a.active::before,
	h4 a.active::before {
		content: url('../images/arrows_m.svg');
		transform: rotate(90deg);
		transform-origin: center;
	}

	.braintobrain_logo {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.question {
		padding: 20px 0;
	}

	.mob {
		display: block;
	}

	#logo_gallery > .logo_wrap {
		width: auto;
	}

	.logo_wrap {
		box-sizing: border-box;
		flex-grow: 1;
		overflow: hidden; // Or flex might break
		list-style: none;
		padding: 1rem 1rem 1rem 0;
	}

	#logo_gallery {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 4rem 0 0 4rem;
		text-align: left;
		align-items: center;
		flex-direction: row;
	}

	img.logo_gallery {
		width: 110px;
		display: inline-block;
	}

	img.grayscale:hover {
		filter: none;
		-webkit-filter: grayscale(0%);
	}

	img.grayscale {
		filter: url( "data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		/* Firefox 3.5+ */
		filter: gray;
		/* IE6-9 */
		-webkit-filter: grayscale(100%);
		/* Chrome 19+ & Safari 6+ */
	}

	.row.contacts,
	.row.email,
	.row.facebook,
	.row.phone {
		background: lightslategrey;
		padding: 2rem 0 10rem 4rem;
	}

	.cell.client {
		color: white;
		font-size: 2.5rem;
		font-family: "open sans";
		font-weight: 100;
    padding: 3rem 0;
	}

	.contacts * .client:first-child {
		color: white;
	}



	.cell.user::before {
		content: "Клиент:";
	}

	.cell.problem::before {
		content: "Проблема:";
	}

	.cell.product::before {
		content: "Что сделали:";
	}

	.cell.result::before {
		content: "Результат:";
	}

	.cell.problem::before,
	.cell.product::before,
	.cell.result::before,
	.cell.user::before {
		display: block;
		font-weight: 600;
		text-transform: uppercase;
	}

	.container > .row {
		margin: 1rem 0;
		width: 100%;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.row {
		background-color: white;
	}

	.cell {
		font-size: 1.6rem;
		font-weight: 100;
		line-height: 2.2rem;
	}

	.cell:hover,
	.empty_cell:hover,
	.excel_cell_empty {
		border: 0!important;
		padding: 1rem !important;
	}


  .row.empty, .row.abc, .row.cli, .row.tablehead {
    display:none;
  }


}
