// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

body {
    padding-top: 50px;
}

.blog {
  color:#a5a5a5;
  margin-top: 30px;
}

a {
  color:inherit;
}

h1.head {
  font-family: 'Anonymous Pro';
	font-size: 26px;
	font-weight: 400;
  color: @red;
  text-transform: uppercase;
  margin-top: 0;
}

#logo {
  width:187px;
  display: block;
}
h6.logotext {
  display: block;
  font-family: 'GothamPro-Light';
  font-size: 13px;
  margin-top: 8px;
}


h2.headers {
	font-family: "GothamPro-Light";
	font-size: 16px;
  margin: 20px 0;
  display: inline-block;
}

.selection {
  color:@red;
  font-family: GothamProNarrow-Medium;
}

.brand {
  font-family: GothamProNarrow-Medium;
  color:#5f5f5f
    // text-transform: uppercase;
}

.arrows {
  background: url(../images/arrow.png);
  background-repeat: repeat-x;
  height: 17px;
  display: inline-block;
  position: relative;
  margin: 0px 0 0 10px;
  top: 4px;
}
