// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";
// @import "cases.less";


// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600,700,800,900i&subset=cyrillic');
@import "site/fonts.less";



// Site Styles
// ===========

// Add your own site style includes here
@import "site/main.less"; // Главная страница
@import "site/post.less";  // Пост
@import "site/blog.less";  // Главная блога


html { font-size: 62.5%; }


body {
  padding:0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

html, body {
    /*max-width: 100%;*/
    overflow-x: hidden;
}

h1 {
  margin:0;
}

.navbar {
    position: relative;
    min-height: 50px;
    padding: 10px 0;
    border: 1px solid transparent;
}

.navbar-brand {
    width: 75%;
    float: left;
    padding: 15px 15px 15px 0;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-header {
position: fixed;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-collapse {
    color: black;
    font-size: 1.8rem;
    margin-top: 5rem;
    overflow-x: visible;
    padding:0;
    /* border-top: 1px solid transparent; */
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
    text-align: right;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ff443a;
    background-color: transparent;
}

// ************************
// MEDIA 768PX
// ************************

@media (min-width:768px) {

.navbar {
  margin-bottom: 0;
  border-bottom: 2px solid #ff443a;
}

.navbar-header {
  position: relative;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-family: "GothamPro";
  letter-spacing: 1.3px;
  font-weight: 500;
  padding-top: 18px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ff443a;
  font-size: 1.6rem;
  background-color: transparent;
}
.navbar-nav > li {
  font-size: 1.5rem;
}
.navbar-collapse {
    margin-top: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left:0;
}
}

// ************************
// MEDIA 992PX
// ************************

@media (min-width: 992px) {

}
